
<div class="courses-panel" (click)="tooltipDisable ? tooltipDisable=false : tooltipDisable=true">

  <div class="header">

    <h2 class="title" [matTooltip]="'All Courses'" matTooltipPosition="before"
    [matTooltipShowDelay]="1000"
    [matTooltipHideDelay]="2000"
    [matTooltipDisabled]="!tooltipDisable">All Courses</h2>

    <button mat-mini-fab routerLink="/add-new-course"
      [matTooltip]="'Create a course'" matTooltipPosition="above"
      [matTooltipShowDelay]="1000"
      [matTooltipHideDelay]="2000"
      [matTooltipDisabled]="tooltipDisable">
      <mat-icon class="add-course-btn">add</mat-icon>
    </button>

  </div>

  <mat-tab-group selectedIndex="1">

    <mat-tab label="Beginners">
          
          <courses-card-list [courses]="beginnerCourses$ | async">

          </courses-card-list>

    </mat-tab>

    <mat-tab label="Advanced">

      <courses-card-list [courses]="advancedCourses$ | async">
        
      </courses-card-list>

    </mat-tab>

  </mat-tab-group>

</div>

