

.courses-panel {
    max-width: 1500px;
    margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

h2 {
  font-family: "Roboto";
}

.title {
  text-align: center;
  margin-right: 15px;

}

:host ::ng-deep .mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs>.mat-mdc-tab-header .mat-mdc-tab {
  flex-grow: 0 !important;
}

:host ::ng-deep .mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs>.mat-mdc-tab-header .mat-mdc-tab:first-of-type {
  flex-grow: 0 !important;
  width: 120px !important;
}

:host ::ng-deep .mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs>.mat-mdc-tab-header .mat-mdc-tab:last-of-type {
  flex-grow: 0 !important;
  width: calc(100% - 120px) !important;
}

:host ::ng-deep .mdc-tab {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid gainsboro; 
}